{
	"presets": [
		[
			"env",
			{
				"targets": {
					"node": true
				}
			}
		]
	],
	"plugins": [
		"add-module-exports",
		"transform-runtime"
	],
	"env": {
		"test": {
			"plugins": [
				"istanbul"
			]
		}
	}
}
